<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ratings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="container text-center">
    <h1 style="text-align: center; font-variant: small-caps">Valutazioni</h1><br><br>
        <div class="row">
            <div class="col-md-4">
                <span style="font-size: 3em;">😃</span>
                <h1 th:text="${ratings.getPositive()}">0</h1>
            </div>
            <div class="col-md-4">
                <span style="font-size: 3em;">😐</span>
                <h1 th:text="${ratings.getNeutral()}">0</h1>
            </div>
            <div class="col-md-4">
                <span style="font-size: 3em;">😡</span>
                <h1 th:text="${ratings.getNegative()}">0</h1>
            </div>
        </div>
    </div>
</div>

<script>
    setInterval(function() {
        location.reload();
    }, 1000);
</script>
</body>
</html>